<html ng-app="citiesApp">
    <head><title>TravelAdvisor</title>
<link rel="stylesheet" type="text/css" href="../../Welcome.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    <body>

            <div ng-if="fvCtrl.hasFavorites"> 

            <h1>My Favorites</h1>
            <label>Filter by Category:  </label>
            <label ng-repeat="category in fvCtrl.categories">
            <input type="radio" checklist-value="category" value="{{category}}" name="{{category}}" ng-model="fvCtrl.selectedCategory" ng-change="fvCtrl.selectCategory()"> 
            
            {{category}}<br></label><br>
            <label><input type="button" value="Show all categories" ng-click="fvCtrl.resetFilter()"></input></label>
            <label>Sort by rate</label>
            <label><select ng-model="fvCtrl.rateSort" ng-options="option for option in fvCtrl.sortOptions">
            </select></label>
            <table>
                <tr>
                    <td>Point of Interest</td>
                    <td>Image</td>
                    <td>Category</td>
                    <td>Priority</td>
                    <td>Rate</i></td>
                    <td>Review</td>
                    <td>Show</td>
                    <td>Remove</td>


                </tr> 
                <!-- | orderBy: fvCtrl.getSort() | -->
                <tr id="{{$index}}" ng-repeat="point in fvCtrl.points | orderBy: fvCtrl.getSort() | filter: fvCtrl.filter">
                    <td>{{point.pointName}}</td>
                    <td>
                         <img src={{point.picture}} alt="" style="width:30%"> 
                        </td>
                    <td>{{point.category}}</td>
                    <td>{{point.orderNumber}}</td>
                    <td>
                        <i ng-if="$index !== 0" ng-click="fvCtrl.swapUp($index)" class="fa fa-sort-asc"></i>
                        <i ng-if="$index !== fvCtrl.points.length-1" class="fa fa-sort-desc"></i>

                    </td>
                    <!-- <td><select ng-model="myOrder" ng-value="myOrder" ng-options="order as order for order in orders | filter: filteredOrders" ng-change="setSelected(myOrder)">
                        </select></td> -->
                    <td><input type="button" value="Review" ng-click="fvCtrl.openReviewDialog(point)"></td>
                    <td><input type="button" value="Detalis" ng-click="fvCtrl.openDialog(point)"></td>

                    <td><i style="cursor: pointer" class="fa fa-close" ng-click ="fvCtrl.RemoveFavorites(point)"></i></td>
                </tr>
            </table>
            <input type="button" value="test" ng-click="fvCtrl.test()">
        </div> 
        <div ng-if="!fvCtrl.hasFavorites">
                <h1>You dont have any favorites yet :(</h1>
            </div>
    </div>

    <!-- ng-init="fvCtrl.getPointOfInterest(category)" -->


       
    </body>
    </html>
    
    

    