
<html ng-app="citiesApp">
    <head><title>TravelAdvisor</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
        <link rel="stylesheet" type="text/css" href=" Welcome.css" />
</head>
    <body ng-controller="indexController">


            <ul class="navbar">
              <li><a class="active" href="/">Sign In</a></li>
              <li><a href="#/About">About</a></li>
              <li><a href="#/POI">Points of Interest</a></li>

              <li ng-if="isLogin"><a href="#/Main">My Home</a></li>
              <li ng-if="isLogin"><a style="cursor:pointer" ng-if="isLogin" type="button" ng-click="logOut()">Log Out</a> </li>
              
              <span ng-model="userName">Hello, {{userName}}!</span>
            </ul>
            
        <br>
        <br>

       <div  ng-view></div>

       




    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="./node_modules/angular-material/angular-material.js"></script> 
    <script src="./node_modules/angular-messages/angular-messages.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="./app.js" ></script>
    <script src="indexController.js" ></script>
 
  <script src="./components/Users/home/MainController.js" ></script>
  <script src="./components/Users/login/WelcomeController.js" ></script>
  <script src="./components/Users/register/RegisterController.js" ></script>
  <script src="./components/POI/POIController.js" ></script>
  <script src="./components/Users/favorites/FavoritesController.js" ></script>
  <script src="./components/Services/localStorageModel.js" ></script>
  
      
    </body>
    </html>
    
    

    