
    <title>TravelAdvisor</title>
    <link rel="stylesheet" type="text/css" href="../../Welcome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <label ng-if="inCtrl.userName !== 'Guest'" style="float:right;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
        <i style="cursor:pointer" ng-click="pCtrl.routeToFav()" class="fa fa-star"></i> My Favorites (<span ng-model="pCtrl.favoritesCounter">{{pCtrl.favoritesCounter}}</span>)</label>

    <h1>Delhi's Points of Interest</h1>
    <div style="text-align:center; font-size:20px; font-weight:bold">
        Search by name:
        <input type="text" ng-model="pCtrl.search">
    </div>
    <label style="font-size:15px">Filter by Category: </label>
    <label ng-repeat="category in pCtrl.categories">
        <input type="radio" checklist-value="category" value="{{category}}" name="{{category}}" ng-model="pCtrl.selectedCategory"
            ng-change="pCtrl.selectCategory()"> {{category}}

        <br>
    </label>
    <br>
    <label>
        <input type="button" value="Show all categories" ng-click="pCtrl.resetFilter()"></input>
    </label>
    <br>
    <label style="margin-top:10px; font-size:15px">Sort by rate</label>
    <label>
        <select ng-model="pCtrl.rateSort" ng-options="option for option in pCtrl.sortOptions">
        </select>
    </label>

    <label style="margin-top:35px">
        <input ng-if="inCtrl.userName !== 'Guest'" type="button" value="Save changes" ng-click="pCtrl.saveInServer()">
    </label>

    

    <table style="text-align:center">
        <tr>
            <td>Point of Interest</td>
            <td>Description</td>
            <td>Category</td>
            <td ng-if="inCtrl.userName !== 'Guest'">Add to Favorites</td>
            <td ng-if="inCtrl.userName !== 'Guest'">Review</td>
            <td>show</td>
        </tr>
        <tr ng-repeat="point in pCtrl.points | orderBy: pCtrl.getSort() | filter: {pointName:pCtrl.search} | filter: pCtrl.filter"><!-- pCtrl.filter-->


            <td >{{point.pointName}}</td>
            <td>
                <img src={{point.picture}} alt="" style="width:30%">
            </td>
            <td>{{point.category}}</td>
            <td id="{{$index}}" ng-if="inCtrl.userName !== 'Guest'">
                <i style="cursor: pointer" class='fa {{pCtrl.isFavorite(point)}}' ng-click="pCtrl.addOrRemoveFavorites(point,$index)"></i>
            </td>
            <td ng-if="inCtrl.userName !== 'Guest'"><input type="button" value="Review" ng-click="pCtrl.openReviewDialog(point)"></td>
            <td><input type="button" value="Details" ng-click="pCtrl.openDialog(point)"></td>
        </tr>
    </table>
