<html ng-app="citiesApp">
    <head><title>TravelAdvisor</title>
<link rel="stylesheet" type="text/css" href="../../Welcome.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    <body>

        <label style="float:right;"> My Favorites <i style="cursor:pointer" ng-click="pCtrl.routeToFav()" class="fa fa-star"></i></label>

            <h1>Delhi's Points of Interest</h1>
            <label>Filter by Category:  </label>
            <label ng-repeat="category in pCtrl.categories">
            <input type="radio" checklist-value="category" value="{{category}}" name="{{category}}" ng-model="pCtrl.selectedCategory" ng-change="pCtrl.selectCategory()"> 
            
            {{category}}<br></label><br>
            <label><input type="button" value="Show all categories" ng-click="pCtrl.resetFilter()"></input></label>
            <label>Sort by rate</label>
            <label><select ng-model="pCtrl.rateSort" ng-options="option for option in pCtrl.sortOptions">
            </select></label>
            <table>
                <tr>
                    <td>Point of Interest</td>
                    <td>Description</td>
                    <td>Category</td>
                    <td>Rating <i class="fa fa-sort-down" ></i></td>
                    <td ng-if="pCtrl.userName !== 'guest'">Add to Favorites</td>
                </tr> 
                <tr ng-repeat="point in pCtrl.points | orderBy:pCtrl.getSort() | filter: pCtrl.filter">
                    <td>{{point.pointName}}</td>
                    <td>
                        <img src={{point.picture}} alt="" style="width:30%">
                        </td>
                    <td>{{point.category}}</td>
                    <td>{{point.rate}}/5</td>
                    <td ng-if="pCtrl.userName !== 'guest'"><i style="cursor: pointer" class={{pCtrl.isFavorite(point)}} ng-click ="pCtrl.addOrRemoveFavorites(point)"></i></td>
                </tr>
            </table>
    </div>

    <!-- ng-init="pCtrl.getPointOfInterest(category)" -->


       
    </body>
    </html>
    
    

    