<html ng-app="citiesApp">
    <head><title>TravelAdvisor</title>
<link rel="stylesheet" type="text/css" href="../../Welcome.css" />
</head>
    <body>

        <br>
        <br>

    </div>

    <h1 style="margin-left: 10%;">Recently Saved Points of Interest</h1>
    <!-- Slideshow container -->
    <div class="slideshow-container">
    
      <!-- Full-width images with number and caption text -->
      <div ng-click="mnCtrl.openDialog(mnCtrl.saved1)" class="mySavedSlides fade">
        <h2 ng-model="mnCtrl.saved1.pointName" style="text-align:center">{{mnCtrl.saved1.pointName}}</h2>
        <img ng-model="mnCtrl.saved1.picture"  src={{mnCtrl.saved1.picture}} alt="" style="text-align:center;height:150px;width:250px">
        <div ng-model="mnCtrl.saved1.category" class="text">Category: {{mnCtrl.saved1.category}}</div>

      </div>
    
      <div ng-click="mnCtrl.openDialog(mnCtrl.saved2)" class="mySavedSlides fade">
        <h2 ng-model="mnCtrl.saved2.pointName" style="text-align:center">{{mnCtrl.saved2.pointName}}</h2>
        <img ng-model="mnCtrl.saved2.picture"  src={{mnCtrl.saved2.picture}} alt="" style="text-align:center;height:150px;width:250px">
        <div ng-model="mnCtrl.saved2.category" class="text">Category: {{mnCtrl.saved2.category}}</div>
      </div>

    <!-- Next and previous buttons -->
      <a class="prev" ng-click="mnCtrl.plusSavedSlides(-1)">&#10094;</a>
      <a class="next" ng-click="mnCtrl.plusSavedSlides(1)">&#10095;</a>
    </div>
    <br>

    <h1 style="margin-left: 10%;">Points of Interest we thought you'd like</h1>
    <!-- Slideshow container -->
    <div class="slideshow-container">
    
      <!-- Full-width images with number and caption text -->
      <div ng-click="mnCtrl.openDialog(mnCtrl.rec1)" class="mySlides fade">
        <h2 ng-model="mnCtrl.rec1.pointName" style="text-align:center">{{mnCtrl.rec1.pointName}}</h2>
        <img ng-model="mnCtrl.rec1.picture" src={{mnCtrl.rec1.picture}} alt="" style="text-align:center;height:150px;width:250px">
        <div ng-model="mnCtrl.rec1.category" class="text">Category: {{mnCtrl.rec1.category}}</div>
        <div ng-model="mnCtrl.rec1.rate" class="text">Rating: {{mnCtrl.rec1.rate}}/5</div>
      </div>
    
      <div ng-click="mnCtrl.openDialog(mnCtrl.rec2)" class="mySlides fade">
        <h2 ng-model="mnCtrl.rec2.pointName" style="text-align:center">{{mnCtrl.rec2.pointName}}</h2>
        <img ng-model="mnCtrl.rec2.picture" src={{mnCtrl.rec2.picture}} alt="" style="text-align:center;height:150px;width:250px">
        <div ng-model="mnCtrl.rec2.category" class="text">Category: {{mnCtrl.rec2.category}}</div>
        <div ng-model="mnCtrl.rec2.rate" class="text">Rating: {{mnCtrl.rec2.rate}}/5</div>
      </div>
    
    <!-- Next and previous buttons -->
      <a class="prev" ng-click="mnCtrl.plusSlides(-1)">&#10094;</a>
      <a class="next" ng-click="mnCtrl.plusSlides(1)">&#10095;</a>
    </div>
    <br>


        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>      
        <script src="app.js" ></script>
        <script src="../../indexController.js" ></script>
        <script src="MainController.js" ></script>
   
       
    </body>
    </html>
    
    

    