
<html ng-app="citiesApp">
        <head><title>TravelAdvisor</title>
<link rel="stylesheet" type="text/css" href="../../Welcome.css" />
    </head>
        <body>

    
        </div>
    
        <div>
            <form class="register" ng-submit="rgCtrl.register()">   
                    <label>First Name:</label>
                    <input type="text" ng-model="rgCtrl.user.firstName"><br><br>
                    <label>Last Name:</label>
                    <input type="text" ng-model="rgCtrl.user.lastName"><br><br>
                    <label>Username:</label>
                    <input type="text" ng-model="rgCtrl.user.userName"><br><br>
                    <label>Password:</label>
                    <input type="text" ng-model="rgCtrl.user.password"><br><br>
                    <label>City:</label>
                    <input type="text" ng-model="rgCtrl.user.city"><br><br>
                    <label>Country:</label>
                    <select id="countries" ng-model="rgCtrl.user.country" ng-options="country.Name as country.Name for country in rgCtrl.countries"></select><br><br>
                    <label>Email:</label>
                    <input type="text" ng-model="rgCtrl.user.email"><br><br>
                    <label>Category of Interest #1:</label>
                    <select id="category1" ng-model="rgCtrl.category1" ng-options="category as category for category in rgCtrl.categories"></select><br><br>
                    <label>Category of Interest #2:</label>
                    <select id="category2" ng-model="rgCtrl.category2" ng-options="category as category for category in rgCtrl.categories"></select><br><br>
					<label>What is your mothers maiden name?</label>
                    <input type="text" ng-model="rgCtrl.user.passwordRecoveryAnswer"><br><br>
                    <input style="margin-left:10%" type="submit" value="Submit">
            </form>
            <br>
        </div>
    <div id="Countries" src></div>

    
            
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>       
            <script src="app.js" ></script>
            <script src="../../indexController.js" ></script>
            <script src="RegisterController.js" ></script>
           
        </body>
        </html>
        
        
    
        