<div class="signin">
        <script>
                var slideIndex = 1;
                showSlides(slideIndex);
            
                // Next/previous controls
                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }
            
                // Thumbnail image controls
                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }
            
                function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    if (n > slides.length) { slideIndex = 1 }
                    if (n < 1) { slideIndex = slides.length }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slides[slideIndex - 1].style.display = "block";
                }
            </script>
    <h1>Sign In</h1>
    <form ng-submit="wlcmCtrl.signin()">
        Username:
        <input type="text" ng-model="wlcmCtrl.user.userName">
        <br>
        <br> Password:
        <input type="password" ng-model="wlcmCtrl.user.password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <a style="margin-right:30px;" href="#/register">Register</a>
    <a href="#" ng-click="wlcmCtrl.showRecover()">Forgot my Password</a>

    <div ng-hide="inCtrl.isRecoverMode">
        <form ng-submit="wlcmCtrl.recoverPassword()">
            Username:
            <input type="text" ng-model="wlcmCtrl.recover.userName">
            <br>
            <br> What is your mothers maiden name?
            <input type="text" ng-model="wlcmCtrl.recover.passwordRecoveryAnswer">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<footer>
    <br>
    <br>
    <br>
    <br>

    <h1 style="margin-left: 10%;">Explore Delhi</h1>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div ng-click="wlcmCtrl.openDialog(wlcmCtrl.random1)" class="mySlides fade">
            <h2 ng-model="wlcmCtrl.random1.pointName" style="text-align:center">{{wlcmCtrl.random1.pointName}}</h2>
            <img ng-model="wlcmCtrl.random1.picture" src={{wlcmCtrl.random1.picture}} alt="" style="width:50%">
            <div ng-model="wlcmCtrl.random1.category" class="text">Category: {{wlcmCtrl.random1.category}}</div>
            <div ng-model="wlcmCtrl.random1.rate" class="text">Rating: {{wlcmCtrl.random1.rate}}/5</div>
        </div>

        <div ng-click="wlcmCtrl.openDialog(wlcmCtrl.random2)" class="mySlides fade">
            <h2 ng-model="wlcmCtrl.random2.pointName" style="text-align:center">{{wlcmCtrl.random2.pointName}}</h2>
            <img ng-model="wlcmCtrl.random2.picture" src={{wlcmCtrl.random2.picture}} alt="" style="width:50%">
            <div ng-model="wlcmCtrl.random2.category" class="text">Category: {{wlcmCtrl.random2.category}}</div>
            <div ng-model="wlcmCtrl.random2.rate" class="text">Rating: {{wlcmCtrl.random2.rate}}/5</div>
        </div>

        <div ng-click="wlcmCtrl.openDialog(wlcmCtrl.random3)" class="mySlides fade">
            <h2 ng-model="wlcmCtrl.random3.pointName" style="text-align:center">{{wlcmCtrl.random3.pointName}}</h2>
            <img ng-model="wlcmCtrl.random3.picture" src={{wlcmCtrl.random3.picture}} alt="" style="width:50%">
            <div ng-model="wlcmCtrl.random3.category" class="text">Category: {{wlcmCtrl.random3.category}}</div>
            <div ng-model="wlcmCtrl.random3.rate" class="text">Rating: {{wlcmCtrl.random3.rate}}/5</div>
        </div>
        <!-- Next and previous buttons -->
        <a class="prev" ng-click="wlcmCtrl.plusSlides(-1)">&#10094;</a>
        <a class="next" ng-click="wlcmCtrl.plusSlides(1)">&#10095;</a>

        <!-- The dots/circles -->
<div style="text-align:center">
        <span class="dot" ng-click="currentSlide(1)"></span> 
        <span class="dot" ng-click="currentSlide(2)"></span> 
        <span class="dot" ng-click="currentSlide(3)"></span> 
        <span class="dot" ng-click="currentSlide()"></span> 
      </div>
    </div>
    <br>


    <br/>
    <div>
        <image ng-src="{{wlcmCtrl.random1.Picture}}"></image>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="node_modules/angular-font-awesome/dist/angular-font-awesome.es5.js"></script>
<script src="./slides.js" ></script>
<!--script src="./app.js" ></script>
<script src="components/Users/WelcomeController.js" ></script>
<script src="../../indexController.js" ></script-->

