
    <title>TravelAdvisor</title>
    <link rel="stylesheet" type="text/css" href="../../Welcome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    
    <h1 style="text-align: center">About TravelAdvisor</h1>
    <div class="slideshow-container" style="background-color: rgba(255,0,0,0.2);">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade" style="font-weight:bold">
                    <img style="float:left; margin-left:0; margin-top:0px; padding-top:0; margin-right:5%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Akshardham_angled.jpg/1200px-Akshardham_angled.jpg", alt=""></img>
               
                
                   <span>A symbol of the country’s rich past and thriving present, Delhi is a city where ancient and modern blend seamlessly together.</span> 
                       
                  <span>  It is a place that not only touches your pulse but even fastens it to a frenetic speed.  <br></span> 
                  <span>Home to millions of dreams, the city takes on unprecedented responsibilities of realizing dreams bringing people closer and inspiring their thoughts.</span>

 

                  <span>Just a century ago, the British moved the seat of their empire from Kolkata to Delhi and it has been the Capital of India ever since.<br><br></span> 
                  <span>Now a thriving, cosmopolitan metro, the city has much to celebrate as it has already reached the milestone of completing 100 years as a Capital.</span>
                  <span>With a history that goes back many centuries, Delhi showcases an ancient culture and a rapidly modernising country. Dotted with monuments there is much to discover here.<br></span>
                
                  
                </div>
    
           
        </div>
       